<!DOCTYPE html>
<html lang="en">
{% include 'header.html.twig' %}
<body id="body">
<!-- Header Start -->
	{% include 'menu.html.twig' %}
<!-- header close -->
<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Blogs</h1>
          <p>Devenir un meilleur développeur et prendre le contrôle de sa carrière.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="page-wrapper">
	<div class="container">
		<div class="row">
		   {% for article in articles %}
			<div class="col-md-6">
				<div class="post">
					<div class="post-thumb">
						<a href="{{path('app_article_show', {'id':article.id})}}">
							<img class="img-fluid" src="asset('images/blog/blog-post-1.jpg')}}" alt="">
						</a>
					</div>
					<h3 class="post-title"><a href="{{path('app_article_show', {'id':article.id})}}">{{ article.titre }}</a></h3>
					<div class="post-meta">
						<ul>
							<li>
								<i class="ion-calendar"></i> {{ article.crea ? article.crea|date('Y-m-d H:i:s') : '' }}
							</li>
							<li>
								<i class="ion-android-people"></i> Posté par {{article.utilisateur.pseudo}}
							</li>
							<li>
								<a href="#"><i class="ion-pricetags"></i>{{article.getCategorie.getLibelle}}</a>
							</li>
						</ul>
					</div>
					<div class="post-content">
						{{ article.contenu|raw | u.truncate(250, '...') }}
						<a href="{{path('app_article_show', {'id':article.id})}}" class="btn btn-main">Read More</a>
					</div>
				</div>
			</div>
			        {% else %}
       no records found
        {% endfor %}
			
		</div>


		<nav aria-label="Page navigation example">
			<ul class="pagination post-pagination justify-content-center">
				<li class="page-item"><a class="page-link" href="blog-grid.html">Prev</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">1</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">2</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">3</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">Next</a></li>
			</ul>
		</nav>
	</div>
</div>


<!-- footer Start -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact us</a></li>
						<li><a href="service.html">How it works</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="pricing.html">Pricing</a></li>
					</ul>
				</div>
				<p class="copyright mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; Designed & Developed by <a
						href="http://www.themefisher.com">Themefisher</a>. All rights reserved.
					<br> Get More <a href="https://themefisher.com/free-bootstrap-templates/">Free Bootstrap
						Templates</a>
				</p>
			</div>
		</div>
	</div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
	<span class="icon ion-ios-arrow-up"></span>
</div>

    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
    <!-- Bootstrap 3.1 -->
    <script src="{{asset('plugins/bootstrap/bootstrap.min.js')}}"></script>
    <!-- slick Carousel -->
    <script src="{{asset('plugins/slick/slick.min.js')}}"></script>
    <script src="{{asset('plugins/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
    <!-- filter -->
    <script src="{{asset('plugins/shuffle/shuffle.min.js')}}"></script>
    <script src="{{asset('plugins/SyoTimer/jquery.syotimer.min.js')}}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="{{asset('plugins/google-map/map.js')}}"></script>

    <script src="{{asset('js/script.js')}}"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
  </script>
    </body>

    </html>